
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-foreground:      #202020;
$color-background:    #e030d8;
$color-link:            #16c23b;

//== Grid

$max_col: 12;
